@media screen and (min-width: 500px) {
	.genre-button {
		font-size: 1rem;
		margin: 1rem;
		padding: 0.3rem 0.5rem;
	}

	.clear-filters-button {
		font-size: 1rem;
	}

	.content-container {
		min-height: 384px;
	}

	.movie-container {
		max-width: 180px;
		height: 350px;
	}

	.movie-container--filtered {
		max-width: 180px;
		height: 350px;
	}

	.poster-section {
		width: 180px;
		height: 250px;
	}

	.title-section {
		height: 110px;
	}

	.movie-title {
		font-size: 1rem;
		padding: 0.5rem;
	}
}

@media screen and (min-width: 700px) {
	.logo img {
		height: 50px;
		max-width: 250px;
	}

	.slideshow-section,
	.rating-section,
	.overview,
	.comment-section,
	.comment-input,
	.display-comment-section {
		width: 90%;
	}
}

@media screen and (min-width: 850px) {
	.slideshow-section,
	.rating-section,
	.overview,
	.comment-section,
	.comment-input,
	.display-comment-section {
		width: 80%;
	}

	.info-title {
		font-size: 2rem;
	}
}

@media screen and (min-width: 1150px) {
	.slideshow-section,
	.rating-section,
	.overview,
	.comment-section,
	.comment-input,
	.display-comment-section {
		width: 70%;
	}

	.slideshow {
		width: 80%;
	}
}
