body {
	background-color: black;
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.header {
	width: 100%;
	height: 4rem;
	background-color: #181818;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo--mobile {
	width: 3.125rem;
	height: 3.125rem;
	margin: 0 2rem;
}

.sign-in-button {
	color: #acacac;
	font-weight: 800;
	margin: 0 2rem;
}

.sign-in-button:hover {
	color: white;
}

.sign-in-button:active {
	color: #f1bfe6;
}

/* DROP DOWN SECTION */
.drop-down-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.drop-down-button {
	width: 14.375rem;
	height: 1.875rem;
	background-color: #181818;
	color: white;
	font-weight: 800;
	border-radius: 0.313rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.drop-down-button:hover {
	background-color: #414141;
}

.vector-image {
	display: flex;
	width: 1rem;
	height: 1rem;
	margin: auto 0;
}

.vector-image--active {
	transform: rotate(180deg);
}

.filter-section {
	display: none;
}

.filter-section--active {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #181818;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.filter-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.genre-button {
	font-weight: 600;
	color: white;
	background-color: #181818;
	margin: 1rem;
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
}

.genre-button:hover {
	background-color: #414141;
}

.genre-button--active {
	background-color: white;
	color: #181818;
}

.genre-button--active:hover {
	background-color: white;
	color: #181818;
}

.clear-filters-button {
	width: 9rem;
	height: 1.875rem;
	font-weight: 600;
	border-radius: 5px;
	margin: 1rem;
	background-color: #f1bfe6;
	color: black;
}

.clear-filters-button:hover {
	background-color: #ffe4f9;
}

.no-movies-message {
	margin: 2rem;
	color: white;
	text-align: center;
}

/* SECTION FOR ALL THE CONTENT */
.movie-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.movie-section--filtered {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* GENRES */
.genre-headline-container {
	width: 100%;
	height: 3.125rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
}

.line {
	flex-grow: 1;
	height: 1px;
	background-color: white;
}

.genre-headline {
	white-space: nowrap;
	color: white;
	font-weight: 800;
	font-size: 1.25rem;
	padding: 1rem;
}

/* CONTENT CONTAINER STYLING */
.content-container {
	min-height: 20rem;
	margin: 0 2rem;
	overflow-x: scroll;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.movie-container {
	max-width: 9.375rem;
	height: 20rem;
	margin: 0 1rem 0 0;
	display: flex;
	flex-direction: column;
	background-color: #181818;
	color: white;
}

.movie-container--filtered {
	max-width: 9.375rem;
	height: 20rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	background-color: #181818;
	color: white;
}

.poster-section {
	width: 9.375rem;
	height: 14.375rem;
}

.movie-poster {
	display: flex;
}

.title-section {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-title {
	padding: 0.3rem;
	font-weight: 600;
	text-align: center;
	font-size: 0.875rem;
}
