body {
	background-color: black;
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	scrollbar-color: #181818 #acacac;
	scroll-behavior: smooth;
	color: white;
}

/* HEADER */
.header {
	width: 100%;
	height: 4rem;
	background-color: #181818;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 3.125rem;
	height: 3.125rem;
	margin: 0 2rem;
}

.sign-in-button {
	color: #acacac;
	font-weight: 800;
	font-size: 1.2rem;
	margin: 0 2rem;
}

.sign-in-button:hover {
	color: white;
}

.sign-in-button:active {
	color: #f1bfe6;
}

.back-to-main-button {
	width: 5rem;
	height: 2rem;
	background-color: #181818;
	color: white;
	font-weight: 800;
	font-size: 1.2rem;
	border-radius: 5px;
	display: none;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

.back-to-main-button:hover {
	background-color: #414141;
}

.back-to-main-button:active {
	background-color: #acacac;
}

.back-to-main-image {
	display: flex;
	width: 1rem;
	height: 1rem;
	margin: auto 0;
	transform: rotate(90deg);
}

/* DROP DOWN SECTION */
.drop-down-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.drop-down-button {
	width: 14.375rem;
	height: 1.875rem;
	background-color: #181818;
	color: white;
	font-weight: 800;
	border-radius: 0.313rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	transition: background-color 0.2s ease;
}

.drop-down-button:hover {
	background-color: #414141;
}

.vector-image {
	display: flex;
	width: 1rem;
	height: 1rem;
	margin: auto 0;
	transition: transform 0.3s ease;
}

.vector-image--active {
	transform: rotate(180deg);
}

.filter-section {
	overflow: hidden;
	height: 0;
	opacity: 0;
}

.filter-section--active {
	opacity: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #181818;
	width: 100%;
	height: auto;
	border-radius: 5px;
	transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
}

.filter-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.genre-button {
	font-weight: 600;
	color: white;
	background-color: #181818;
	border-radius: 5px;
	margin: 0.3rem;
	padding: 0.1rem 0.3rem;
}

.genre-button:hover {
	background-color: #414141;
}

.genre-button--active {
	background-color: white;
	color: #181818;
}

.genre-button--active:hover {
	background-color: white;
	color: #181818;
}

.clear-filters-button {
	width: 8rem;
	height: 2rem;
	font-weight: 600;
	border-radius: 5px;
	margin: 0.5rem;
	background-color: #f1bfe6;
	color: black;
}

.clear-filters-button:hover {
	background-color: #ffe4f9;
}

.no-movies-message {
	margin: 2rem;
	color: white;
	text-align: center;
}

/* SECTION FOR ALL THE CONTENT */
.movie-section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.movie-section--filtered {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* GENRES */
.genre-headline-container {
	width: 100%;
	height: 3.125rem;
	display: flex;
	align-items: center;
	padding: 0 2rem;
}

.line {
	flex-grow: 1;
	height: 1px;
	background-color: white;
}

.genre-headline {
	white-space: nowrap;
	color: white;
	font-weight: 800;
	font-size: 1.25rem;
	padding: 1rem;
}

/* CONTENT CONTAINER STYLING */
.content-container {
	min-height: 20rem;
	margin: 0 2rem;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.movie-container {
	max-width: 9.375rem;
	height: 20rem;
	margin: 0 1rem 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #181818;
	color: white;
}

.movie-container:hover {
	transform: scale(1.1);
	transition: 0.1s;
}

.movie-container--filtered {
	max-width: 9.375rem;
	height: 20rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	background-color: #181818;
	color: white;
}

.movie-container--filtered:hover {
	transform: scale(1.1);
	transition: 0.1s;
}

.poster-section {
	width: 9.375rem;
	height: 14.375rem;
}

.movie-poster {
	display: flex;
}

.title-section {
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie-title {
	padding: 0.3rem;
	font-weight: 600;
	text-align: center;
	font-size: 0.875rem;
}

.no-content-message {
	margin: 2rem;
	color: white;
	text-align: center;
}

/* MOVIE INFO PAGE */
.movie-info-container {
	width: 100%;
	height: 90vh;
	display: none;
	flex-direction: column;
	overflow: auto;
}

.info-title-section {
	flex-basis: 6%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0;
}

.info-title {
	color: white;
	font-weight: 800;
	font-size: 1.2rem;
}

.slideshow {
	flex-basis: 30%;
	width: 100%;
	padding: 0 2rem;
	background-color: #181818;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slideshow-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.previous,
.next {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	border-radius: 5px;
	background-color: #d9d9d98d;
}

.previous {
	left: 0;
	margin-left: 5px;
}

.next {
	right: 0;
	margin-right: 5px;
}

.previous:hover,
.next:hover {
	background-color: #e2dcdcd3;
}

.rating-section {
	flex-basis: 6%;
	width: 100%;
	background-color: #181818;
	display: flex;
	flex-direction: row;
	padding: 0.5rem 0;
}

.vote-average-container {
	width: 50%;
	margin-left: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.vote-image {
	display: flex;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
}

.vote-average {
	font-weight: 600;
	font-size: 1.5rem;
}

.rating-thumbs-container {
	width: 50%;
	margin-right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.thumbs-up,
.thumbs-down {
	width: 2rem;
	height: 2rem;
	margin: 0 0.5rem;
}

.overview {
	flex-basis: 30%;
	width: 100%;
	background-color: #181818;
	padding: 0 2rem;
}

.comment-section {
	flex-basis: 28%;
	width: 100%;
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0.5rem 0;
}

.comment-input {
	width: 100%;
	height: 88px;
	padding-left: 0.3rem;
	padding-top: 0.2rem;
}

.comment-submit-button {
	width: 80px;
	height: 30px;
	background-color: #f1bfe6;
	color: black;
	font-weight: 600;
	border-radius: 5px;
}

.dots-container {
	position: absolute;
	bottom: 8px;
}

.dot {
	display: inline-block;
	width: 0.625rem;
	height: 0.625rem;
	background-color: #acacac;
	border-radius: 50%;
	margin: 0 0.325rem;
	cursor: pointer;
}

.active {
	background-color: white;
}
